<div nxLayout="grid">
  <div nxRow>
    <div nxCol="12, 12, 6">
      <nx-formfield nxLabel="Filter:" nxFloatLabel="always">
        <nx-multi-select
          [options]="options"
          placeholder="Style"
        ></nx-multi-select>
      </nx-formfield>
    </div>

    <div nxCol="12, 12, 6">
      <nx-formfield nxLabel="Sort by:" nxFloatLabel="always">
        <nx-dropdown [nxValueFormatter]="toText">
          <nx-dropdown-item
            *ngFor="let sortBy of sortOptions"
            [nxValue]="sortBy"
          ></nx-dropdown-item>
        </nx-dropdown>
      </nx-formfield>
    </div>
  </div>
</div>
